@inherits DnnWebViewPage
@using DotNetNuke.Web.Mvc.Framework
@using DotNetNuke.Web.Mvc.Helpers
@using Connect.Agenda.Core.Repositories
@using Connect.Agenda.Agenda.Common
@{
  var items = ItemRepository.Instance.GetItems(Dnn.ActiveModule.ModuleID);
  var page = Dnn.DnnPage;
  var contextHelper = new ContextHelper(page);
  contextHelper.RegisterAjaxScript();
  contextHelper.AddScript("agenda.js");
}

<div class="ConnectAgenda Agenda"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-portalid="@Dnn.PortalSettings.PortalId">
</div>